@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: Sunflower;
  src: url("fonts/made-sunflower.otf") format("opentype");
}
:root{
  --bg-color: rgb(32, 32, 32);
  overflow-x: hidden;
}

html, body {
  padding: 0;
  margin: 0;
  background: var(--bg-color);
  font-family: 'Noto Serif', serif;
  width: 99vw;
  overflow-x: hidden;
  overflow-y: auto;
}
img{
  object-fit: cover;
}

header{
  color: aliceblue;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url("header/header.jpg");
  background-position: 50% 50%;
  background-size: cover; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header h1{
  font-family: Sunflower, Arial, Helvetica, sans-serif;
  font-size: 10rem;
  margin-top: -5rem;
  margin-bottom: 1rem;
  animation: showMainHeader 1.5s ease forwards;
}
@keyframes showMainHeader {
  0%{
    transform: translateY(-4rem);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
header h2{
  text-align: center;
  width: 30%;
  white-space: pre-wrap;
  animation: showSubHeader 1.5s 1s ease forwards;
  opacity: 0;
}
@keyframes showSubHeader {
  0%{
    transform: translateY(4rem);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

footer{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: aliceblue;
  font-family: 'Noto Serif', serif;
}

.contact{
  font-size: 1.5em;
  font-weight: bold;
  width: 75%;
  white-space: pre-wrap;
}
.contact a{
  display: inline-block;
  color: aliceblue;
  text-decoration: none;
}
.contact a:active,.contact a:hover, .contact a:visited{
  color: aliceblue;
  text-decoration: underline;
}

.copyright{
  padding: 0.5em 1em;
  background: white;
  color: black;
  width: 100%;
  white-space: pre-wrap;
  overflow-y: hidden;
}
.copyright a{
  color: black;
  text-decoration: none;
}
.copyright a:active,footer a:hover, footer a:visited{
  color: black;
}

.c1{
  background: red;
}
.c2{
  background: blue;
}
.c3{
  background: green;
}
.c4{
  background: yellow;
}
.c5{
  background: purple;
}


.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  grid-gap: 4px;
  grid-auto-rows: minmax(80px, auto);
  grid-auto-flow: dense;
}
.card{
  min-height: 20vw;
  background-size: cover;
  background-position: 50% 50%;
  cursor: pointer;
  filter: blur(5px);
  opacity: 0;
  transition: opacity 1s ease-in;
  transition-delay: 100ms;
  transform: translateX(-50%);
}
.card.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}


.span-1{
  min-height: 20vw;
}
.span-2{
  grid-column-end: span 2;
  grid-row-end: span 2;
  min-height: 40vw;
}
.span-3{
  grid-column-end: span 2;
  grid-row-end: span 2;
  min-height: 40vw;
}
.hidden{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  display: none;
}
.hidden > *{
  display: none;
}

@media screen and (max-width: 770px) {
  header h1{
    font-family: Sunflower, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  header h2{
    font-size: 1rem;
  }
  .wrapper{
    grid-template-columns: repeat(auto-fill, minmax(33vw, 1fr));
    grid-gap: 2px;
    grid-auto-rows: minmax(80px, auto);
    padding: 0.25rem;
    margin: 0;
    max-width: 99vw;
    overflow-y: hidden;
  }
  .card{
    min-height: 33vw;
  }
  .span-1{
    min-height: 33vw;
  }
  .span-2{
    min-height: 66vw;
  }
  .span-3{
    min-height: 66vw;
  }
  .contact{
    font-size: 0.75em;
  }
  .copyright{
    font-size: 0.6em;
    padding: 2em;
  }
}

/*

IMAGE DETAIL

*/
.column-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  color: white;
  font-size: 4rem;
  font-weight: bold;
}
.column-space-between{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.hover-darken{
  transition: background 0.25s ease-out;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.hover-darken:hover{
  background-color: rgba(0,0,0,0.7);
  cursor: pointer;
}
#detail-backdrop{
  position: fixed;
  top:0;
  left:0;
  z-index: 10;

  width: 99vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);

  display: none;
  grid-template-columns: 10% 80% 10%;
}
#detail-backdrop.active{
  display: grid;
}
#detail-content-image{
  max-width: 70vw;
  height: auto;
  max-height: 90vh;
}
#detail-hide{
  padding: 0.5em 1em;
}
#detail-content-image.showing{
  animation: showImageAnim 0.25s ease-in-out forwards;
}
#detail-content-image.transition{
  animation: imageTransitionAnim 0.20s ease-in-out forwards;
}
@keyframes showImageAnim {
  0%{
    transform: scale(0.6);
    opacity: 0;
    filter: blur(4px);
  }
  100%{
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes imageTransitionAnim {
  0%{
    opacity: 1;
    filter: blur(0);
  }
  50%{
    opacity: 0.5;
    filter: blur(2px);
  }
  100%{
    opacity: 1;
    filter: blur(0);
  }
}

@media screen and (max-width: 770px) {
  #detail-hide{
    font-size: 1rem;
    padding: 1rem;
  }
  #detail-prev, #detail-next{
    display: none;
  }
  #detail-content{
    width: 99vw;
  }
  #detail-content-image{
    max-width: 95vw;
    height: auto;
    max-height: 90vh;
  }
}