:root{
--type-writer-speed: 4s;
--type-writer-characters: 11;
--bg-color: #f1f1f1;
}

#logoSVG #obdelnik{
    display: inline;
    
    animation: 
        typewriterRect var(--type-writer-speed) steps(var(--type-writer-characters)) 0.5s forwards;
}
#logoSVG #obdelnik rect::before{
    width: 0.075em;
    height: 100%;
    background: teal;
}
#logoSVG #obdelnik rect{
    fill: var(--bg-color);
    x: 0%;
    
    animation: 
        typewriterRect var(--type-writer-speed) steps(var(--type-writer-characters)) 0.5s forwards;
}
#logoSVG .teckySVG{
    fill:#3AAA35;
    opacity: 0;
}
#logoSVG .teckySVG#tecka_1{
    animation: showDots 125ms ease-in-out 6s forwards;
}
#logoSVG .teckySVG#tecka_2{
    animation: showDots 125ms ease-in-out 6.25s forwards;
}
#logoSVG .teckySVG#tecka_3{
    animation: showDots 125ms ease-in-out 6.5s forwards;
}
#logoSVG #logo{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50%);
    animation: fadeIn 750ms ease-in-out 6.75s forwards;
}
#logoSVG #slice rect{
    fill: var(--bg-color);
    width: 0;
    animation: slice 125ms ease-in 6.8s forwards;
}

@keyframes typewriterRect {
    to {
        x: 100%;
        width: 0.075em;
    }
}
@keyframes showDots {
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}
@keyframes slice {
    to{
        width: 512px;
    }
}
/*
#logoSVG #text::before,
#logoSVG #text::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#logoSVG #text::before{
    background: var(--bg-color);
    animation: 
        typewriter var(--type-writer-speed) steps(var(--type-writer-characters)) 0.5s forwards;
}

#logoSVG #text::after{
    width: 0.075em;
    background: black;
    animation: 
        typewriter var(--type-writer-speed) steps(var(--type-writer-characters)) 0.5s forwards,
        blink 1s linear 0.5s infinite
}

@keyframes typewriter {
    to { 
        left: 100%; 
    }
}
@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}*/